version: "3.9"

services:
  user-service:
    build: .
    command: node dist/apps/user-service/main.js
    ports:
      - "3001:3001"
    networks:
      - app-network

  order-service:
    build: .
    command: node dist/apps/order-service/main.js
    ports:
      - "3002:3002"
    networks:
      - app-network

  payment-service:
    build: .
    command: node dist/apps/payment-service/main.js
    ports:
      - "3003:3003"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

